/*--background--*/

.fond {
  width:1922px;
  height:563px;
  background-color:#BFDBFF;
  position:fixed;
}

.title {
  position:absolute;
  color:#000A64;
  top: 5%;
  left:calc(50%);
}

/*------------------------------------------------------*/
/*--rectangle principal et text --*/
.rectangle-container {
  display: grid;
  width: 956px;
  height: 378px;
  gap: 1;
  position: absolute;
  background-color:white;
  grid-template-rows: 380px;
  grid-template-columns: repeat(3, 318px);
  left:calc(50% - 33em) ;
  top:calc(50% - 15em);
  grid-template-areas: 
  "rectangle-bronze rectangle-argent rectangle-or";
}

/*------------------------------------------------------*/
/*--rectangle bronze-argent-or--*/
.rectangle-bronze {
  grid-area: rectangle-bronze;
  display: flex;
  width: 318px;
  height: 380px;
  position: absolute;
  background-color:white;
  align-items: top;
  justify-content: top;
}

.rectangle-argent  {
  grid-area: rectangle-argent;
  display: flex;
  width: 318px;
  height: 380px;
  position: absolute;
  background-color:white;
  align-items: top;
  justify-content: top;
}

.rectangle-or {
 grid-area: rectangle-or;
  width: 318px;
  height: 380px;
  background-color: white;
  display: flex;
  align-items: top;
  justify-content: top;
  transition: 1.5s;
  transform: rotatex(10deg);
}
/*------------------------------------------------------*/
/*--baniere des rectangle--*/

.bronze {
  width: 318px;
  height: 50px;
  background-color:#d49a4e;
}

.argent {
  width: 318px;
  height: 50px;
  background-color:#BBC6CE;
}

.or {
  width: 318px;
  height: 50px;
  background-color:#DCD388;
}

.text {
  text-align: center;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size:16px;
}

/*------------------------------------------------------*/
/*--background animation--*/

.nuage_0 {
  zoom:0.8;
  top:10%;
    position: absolute;
    -webkit-animation: translate 50s linear infinite;
    animation: translate 50s linear infinite;

}

@-webkit-keyframes translate {
    0% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }

    100% {
      -webkit-transform: translate(400% );
              transform: translate(400% );
    }
  }
  @keyframes translate {
    0% {
      -webkit-transform: translate(0px);
              transform: translate(0px);
    }

    100% {
      -webkit-transform: translate(400%);
              transform: translate(400%);
    }
  }
